html {
    width: 50%;
    margin: 0 auto;

}

header {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 15px;
    float: right;
}

.nav-item {
    font-size: 20px;
    font-weight: bold;
}

.about-me {
   display: flex;
   gap: 10px; 

}

.profile {
    width: 500px;
    height: auto;
}

.bio {
    font-size: 22px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.projects {
    margin-top: 100px;
}

.skills {
    margin-top: 50px;
}

.languages {
    font-size: 18px;
}

.links {
    display: flex;
    gap: 20px;
}

.contact p{
    font-size: 20px;
}

@media only screen and (max-width: 480px) {
    .profile {
      width: 200px;
      height: auto;
    }
  }